@media screen and (max-width: 1500px) {
  section.nineth-section {
    height: 100% !important; }
  .eighth-section__title {
    padding-top: 120px; }
  .eighth-section__list {
    padding-top: 20px; }
    .eighth-section__list ul li:nth-child(1) {
      font-size: 22px; }
    .eighth-section__list ul li {
      max-width: 250px; } }

@media screen and (max-width: 1227px) {
  section.eighth-section {
    height: 100% !important; }
  section.seventh-section {
    height: 100% !important; }
  .seventh-section__cards {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .eighth-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .eighth-section__list ul li:nth-child(1) {
      font-size: 18px;
      padding-left: 0; }
    .eighth-section__list ul li {
      padding-left: 0; } }

@media screen and (max-width: 1200px) {
  section.eighth-section {
    height: 100% !important; }
  .contact-form__inputs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact-form__inputs input {
      margin: 10px 15px; } }

@media screen and (max-width: 1050px) {
  section.fifth-section {
    height: 100% !important; }
  .service-item {
    padding-bottom: 50px; }
  .fourth-section__title {
    padding-top: 100px;
    max-width: 750px; }
  .fourth-section__info {
    padding: 40px 60px 40px 60px;
    left: 0; }
  .nineth-section__title {
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 750px; }
  .nineth-section__price h3 {
    font-size: 60px; }
  .header__menu {
    display: none; }
  .header__number {
    display: none; }
  .hamburger-icon {
    display: block; }
  .fifth-section__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .advantage-item__text ul li:nth-child(1) {
    font-size: 50px; }
  .advantage-item__text ul li:nth-child(2) {
    font-size: 20px; } }

@media screen and (max-width: 850px) {
  .service-item {
    padding-bottom: 20px; }
  .second-section__title {
    padding-top: 150px;
    max-width: 750px; }
  .second-section__desc {
    padding-top: 30px;
    max-width: 450px; }
  .second-section__info {
    padding: 40px 0px 40px 40px; } }

@media screen and (max-width: 760px) {
  .service-item {
    padding-top: 10px; }
    .service-item img {
      width: 60px;
      height: 60px; }
    .service-item__subtitle {
      margin-bottom: 10px; }
  .main-section__img {
    display: none; }
  .tenth-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .tenth-section__form {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .tenth-section__conf__wrapper {
      position: relative; }
  .card {
    width: 100%; }
    .card__over {
      width: 100%; }
  .second-section__info {
    padding: 20px 0px 20px 20px; }
    .second-section__info ul li:nth-child(2) span:nth-child(1) {
      font-size: 30px; }
    .second-section__info ul li:nth-child(2) span:nth-child(2) {
      font-size: 20px; }
  .service-item {
    padding-bottom: 10px; }
  .third-section__title {
    padding-bottom: 40px; }
  .third-section__content {
    display: grid;
    grid-template-columns: 2fr;
    grid-row-gap: 50px; }
  .contact-form__inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .subtitle {
    font-size: 20px; }
  .description {
    font-size: 14px; } }

@media screen and (max-width: 600px) {
  .eighth-section__desc {
    padding-top: 10px; }
  .eighth-section__list {
    padding-top: 15px; }
    .eighth-section__list ul {
      margin-top: 0; }
      .eighth-section__list ul li:nth-child(1) {
        font-size: 14px;
        padding: 0; }
      .eighth-section__list ul li {
        padding-left: 0;
        padding-top: 0; }
  .tenth-section__title {
    text-align: center; }
  .advantage-item__text ul li:nth-child(1) {
    font-size: 25px; }
  .advantage-item__text ul li:nth-child(2) {
    font-size: 15px; }
  .advantage-item__text span {
    font-size: 15px;
    width: 200px; }
  .nineth-section__title {
    padding-bottom: 30px; }
  .nineth-section__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .nineth-section__icons__item {
      padding: 10px 10px; }
      .nineth-section__icons__item p {
        font-size: 15px; }
  .title {
    font-size: 30px; }
  .second-section__title {
    padding-top: 120px; }
  .third-section__title {
    padding-top: 50px; }
  .second-section__info {
    padding: 20px 0px 20px 20px; }
    .second-section__info ul li:nth-child(1) {
      font-size: 18px; }
    .second-section__info ul li:nth-child(2) span:nth-child(1) {
      font-size: 25px; }
    .second-section__info ul li:nth-child(2) span:nth-child(2) {
      font-size: 20px; }
  .fourth-section__title {
    padding-top: 120px; }
  .fourth-section__info {
    padding: 40px 40px 40px 40px; }
    .fourth-section__info p {
      font-size: 18px; }
  .btn {
    padding: 15px 10px;
    font-size: 15px; } }

@media screen and (max-width: 500px) {
  section.third-section {
    height: 100% !important; }
  .sixth-section__img {
    bottom: 0;
    top: 60%;
    z-index: -1; }
  .sixth-section__subtitle {
    padding-top: 70px; }
  .sixth-section__desc {
    padding-top: 20px; }
  .fourth-section__info {
    padding: 30px 40px 30px 40px;
    left: 0;
    right: 0; }
    .fourth-section__info p {
      font-size: 14px;
      max-width: 450px; }
  .btn {
    padding: 20px 15px;
    height: 60px;
    width: 250px;
    font-size: 15px; }
    .btn:after {
      height: 30px;
      width: 285px;
      left: -20px;
      top: 10px;
      border: 2px solid #759aff; }
  .title {
    font-size: 27px; } }

@media screen and (min-height: 800px) {
  section.nineth-section {
    height: 100vh !important; } }

@media screen and (max-height: 730px) {
  .nineth-section__price h3 {
    font-size: 80px; }
  .second-section__title {
    max-width: 650px; }
  .fourth-section__title {
    max-width: 600px; } }

@media screen and (max-width: 400px) {
  .eighth-section__list ul:nth-child(2n) li {
    padding-right: 0; }
  .main-section__mouse-img {
    display: none; }
  .nineth-section__price h3 {
    font-size: 50px; }
  .nineth-section__price__curr span:nth-child(1) {
    font-size: 25px; }
  .nineth-section__price__curr span:nth-child(2) {
    font-size: 18px; }
  .nineth-section__pricetitle {
    font-size: 20px; }
  .second-section ul li:nth-child(1) {
    font-size: 14px; }
  .second-section ul li:nth-child(2) span:nth-child(1) {
    font-size: 18px; }
  .second-section ul li:nth-child(2) span:nth-child(2) {
    font-size: 16px; }
  .card__button {
    padding: 10px 15px;
    z-index: 1; }
    .card__button span {
      font-size: 40px;
      line-height: 0.4; }
  .fourth-section__title {
    padding-top: 100px;
    font-size: 20px !important; }
  .fourth-section__info {
    padding: 15px 15px 15px 15px; }
    .fourth-section__info p {
      font-size: 14px;
      max-width: 450px; } }
