@media screen and (max-width: 1500px){
	section.nineth-section{
		height: 100% !important;
	}

	.eighth-section{
	
		&__title{
			padding-top: 120px;
			
		}
		
		&__list{
			
			padding-top: 20px;
			ul{
				li:nth-child(1){
					font-size: 22px;
					
				}
				li{
					
					max-width: 250px;
				}
			}
		}
	}
}

@media screen and (max-width: 1227px){
	
	section.eighth-section{
		height: 100% !important;
	}

	section.seventh-section{
		height: 100% !important;
	}

	.seventh-section{
		&__cards{

			justify-content: center;
		}
	}

	// .card{
	// 	margin: 20px;
	// }

	.eighth-section{
		&__list{
			// justify-content: center;
			ul{
				li:nth-child(1){
					font-size: 18px;
					padding-left: 0;
				}
				li{
					padding-left: 0;
				}
			}
			display: grid;
			grid-template-columns: 1fr 1fr;
			
		}
	}
}

@media screen and (max-width: 1200px){
	section.eighth-section{
		height: 100% !important;
	}

	.contact-form{
		&__inputs{
			justify-content: center;
			input{
				margin: 10px 15px;
			}

		}
	}
}
@media screen and (max-width: 1050px){

	section.fifth-section{
		height: 100% !important;
	}

	.service-item{
		padding-bottom: 50px;
	
	}

	.fourth-section{
		&__title{
			padding-top: 100px;
			max-width: 750px;
		}
		&__info{
			padding: 40px 60px 40px 60px;
			left: 0;
		}
	}


	.nineth-section{
		&__title{
			padding-top: 100px;
			padding-bottom: 50px;
			max-width: 750px;
		}
		&__price{
			h3{
				font-size: 60px;
			}
		}
	}

	.header{
		&__menu{
			display: none;
		}
		&__number{
			display: none;
		}
	}

	.hamburger-icon{
		display: block;
	}

	.fifth-section{
		&__items{
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 5%;
			flex-wrap: wrap;
		}
	}

	.advantage-item{
		&__text{
			ul{
				li:nth-child(1){
					font-size: 50px;
				}
				li:nth-child(2){
					font-size: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 850px){
	

	// .eighth-section{
	// 	&__list{
	// 		justify-content: space-between;
	// 	}
	// }
	
	.service-item{
		padding-bottom: 20px;
	
	}


	.second-section{
		&__title{
			padding-top: 150px;
			max-width: 750px;
		}
		&__desc{
			padding-top: 30px;
			max-width: 450px;
		}
		&__info{
			padding: 40px 0px 40px 40px; 
		}
	}
}

@media screen and (max-width: 760px){
	.service-item{
		img{
			width: 60px;
			height: 60px;
		}
		padding-top: 10px;
		
		&__subtitle{
			margin-bottom: 10px;
		}
	}
	.main-section{
		&__img{
			display: none;
		}
	}
	.tenth-section{
		display: flex;
	 	min-height: 100vh;
	 	flex-direction: column;
	 	&__form{
			flex: 1;
		}
		&__conf__wrapper{
			position: relative;
  			
		}
	}

	.card{
		width: 100%;
		&__over{
  			width: 100%;
  		}
	}
	.second-section{
		&__info{
			padding: 20px 0px 20px 20px; 
			ul{
				li:nth-child(2){
				   
					span:nth-child(1){
						font-size: 30px;
					}
					span:nth-child(2){
						
						font-size: 20px;
					}
				}
			}
		}
	}

	.service-item{
		padding-bottom: 10px;
	}
	
	.third-section{
		&__title{
			padding-bottom: 40px;
		}
		&__content{
			display: grid;
			grid-template-columns: 2fr;
			grid-row-gap: 50px;
		}
	}
	
	

	.contact-form{
		&__inputs{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.subtitle{
		font-size: 20px;
	}

	.description{
		font-size: 14px;

	}
}

// @media screen and (min-width: 600px){
// 	.tenth-section{
// 		&__conf__wrapper{
// 			// height: 160%;
		
// 		}
// 	}

	
// }

@media screen and (max-width: 600px){
	.eighth-section{
		&__desc{
			padding-top: 10px;
		}
		&__list{
			padding-top: 15px;
			ul{

				margin-top: 0;
				li:nth-child(1){
					font-size: 14px;
					padding: 0;
				}
				li{
					padding-left: 0;
					padding-top: 0;
				}
			}
			
			
		}
	}

	.tenth-section{
		&__title{
			text-align: center;
		}
	}

	.advantage-item{
		&__text{
			ul{
				li:nth-child(1){
					font-size: 25px;
				}
				li:nth-child(2){
					font-size: 15px;
				}
			}
			span{
				font-size: 15px;
				width: 200px;
			}
		}
	}

	.nineth-section{
		&__title{
			padding-bottom: 30px;
		}
		&__icons{
			// justify-content: space-around;
			// // flex-direction: column;
			// flex-wrap: wrap;
			// padding-top: 5%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			&__item{
				padding: 10px 10px;
				p{
					font-size: 15px;
					
				}
			}
		}
	}
	
	.title{
		font-size: 30px;
	}
	.second-section{
		&__title{
			padding-top: 120px;
		}
	}

	.third-section{
		&__title{
			padding-top: 50px;
		}
	}


	.second-section{
		&__info{
			padding: 20px 0px 20px 20px; 
			ul{
				li:nth-child(1){
					font-size: 18px;
				}

				li:nth-child(2){
				   
					span:nth-child(1){
						font-size: 25px;
					}
					span:nth-child(2){
						
						font-size: 20px;
					}
				}
			}
		}
	}

	.fourth-section{
		&__title{
			padding-top: 120px;
		}
		&__info{
			padding: 40px 40px 40px 40px;
			p{
				font-size: 18px;
			
			}
		}
	}

	.btn{
		padding: 15px 10px;
		font-size: 15px;
	}

}

@media screen and (max-width: 500px){
	section.third-section{
		height: 100% !important;
	}

	.sixth-section{
		&__img{
			bottom: 0;
			top: 60%;
			z-index: -1;
		}

		&__subtitle{
			padding-top: 70px;	
		}

		&__desc{
			
			padding-top: 20px;	
		}

	}

	.fourth-section{

		&__info{
			padding: 30px 40px 30px 40px; 
			left: 0;
			right: 0;
			// margin-left: 0;
			p{
				
				font-size: 14px;
				max-width: 450px;
			}
			
		}
		
	}
	
	.btn{
		padding: 20px 15px;
		height: 60px; 
	  	width: 250px;
	  	font-size: 15px;
		&:after {
			
			height: 30px; 
			width: 285px;
			left: -20px; 
			top: 10px;
			border: 2px solid #759aff;
		}
	}	
	
	
	.title{
		font-size: 27px;
	}

}

@media screen and (min-height: 800px){
	section.nineth-section{
		height: 100vh !important;
	}

}

@media screen and (max-height: 730px){
	.nineth-section{
		&__price{
			h3{
				font-size: 80px;
				
			}
		}

	}

	.second-section{
		&__title{
			max-width: 650px;
		}
	}

	.fourth-section{
		&__title{
			max-width: 600px;
		}
		

	}
}

@media screen and (max-width: 400px){
	.eighth-section{
		&__list{
			ul:nth-child(2n){
				li{
					padding-right: 0;
				}
			}
		}
	}

	.main-section{
		&__mouse-img{
			display: none;
		}
	}
	
	.nineth-section{
		&__price{
			h3{
				font-size: 50px;
				
			}
			&__curr{
				span:nth-child(1){
					font-size: 25px;
				}
				span:nth-child(2){
					font-size: 18px;
				}
			}
		}

		&__pricetitle{
			font-size: 20px;
		}

	}

	.second-section{
		ul{
				li:nth-child(1){
					font-size: 14px;
				}

				li:nth-child(2){
				   
					span:nth-child(1){
						font-size: 18px;
					}
					span:nth-child(2){
						
						font-size: 16px;
					}
				}
			}
	}

	

	.card{
		&__button{
  		padding: 10px 15px;
  		z-index: 1;
  			span{
  				font-size: 40px;
  				line-height: 0.4;
  			}
		
  		}
	}

	.fourth-section{
		&__title{
			padding-top: 100px;
			font-size: 20px !important;
		}

		&__info{
			padding: 15px 15px 15px 15px; 
			p{
				
				font-size: 14px;
				max-width: 450px;
			}
		}
	}
}

